<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syning.mapper.TAdMapper">

    <resultMap id="BaseAdVO" type="com.syning.vo.AdVO">
        <id column="ad_id" property="adId" jdbcType="INTEGER"></id>
        <result column="ad_title" property="adTitle" jdbcType="VARCHAR"></result>
        <result column="ad_url" property="adUrl" jdbcType="VARCHAR"></result>
        <result column="ad_type" property="adType" jdbcType="INTEGER"></result>
        <result column="ad_type_title" property="adTypeTitle" jdbcType="VARCHAR"></result>
        <result column="ad_sort" property="adSort" jdbcType="VARCHAR"></result>
        <result column="ad_begin_time" property="adBeginTime" jdbcType="DATE"></result>
        <result column="ad_end_time" property="adEndTime" jdbcType="DATE"></result>
        <result column="ad_add_time" property="adAddTime" jdbcType="DATE"></result>

    </resultMap>

<!--
    // 返回 AdVO 列表
    List<AdVO>  adVOList(Integer adTypeId);
-->
    <select id="getAdVOList" resultMap="BaseAdVO">
        SELECT a.ad_id, a.ad_title, a.ad_url, a.ad_sort, a.ad_type, adt.ad_type_title, a.ad_begin_time, a.ad_end_time, a.ad_add_time
        FROM t_ad a LEFT JOIN t_ad_type adt ON a.ad_type = adt.ad_type_id

        <where>
            <if test="adTypeId != null and adTypeId != ''">
                a.ad_type = #{adTypeId}
            </if>
        </where>

    </select>



</mapper>
