<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syning.mapper.TArticleMapper">


    <resultMap id="BaseArticleVO" type="com.syning.vo.ArticleVO">
        <id column="article_id" property="articleId" jdbcType="INTEGER"></id>
        <result column="user_id" property="userId" jdbcType="INTEGER"></result>
        <result column="user_name" property="userName" jdbcType="VARCHAR"></result>
        <result column="article_title" property="articleTitle" jdbcType="VARCHAR"></result>
        <result column="article_add_time" property="articleAddTime" jdbcType="DATE"></result>
        <result column="article_centext" property="articleCentext"></result>
        <result column="article_good_number" property="articleGoodNumber" jdbcType="INTEGER"></result>
        <result column="article_look_number" property="articleLookNumber" jdbcType="INTEGER"></result>
        <result column="article_collection_number" property="articleCollectionNumber" jdbcType="INTEGER"></result>
        <result column="article_type_id" property="articleTypeId" jdbcType="INTEGER"></result>
        <result column="article_type_name" property="articleTypeName" jdbcType="VARCHAR"></result>
    </resultMap>


<!--
    /**
     *  根据 articleVO 修改
     * @param articleVO
     * @return
     */
    boolean updateByArticleVO(ArticleVO articleVO);
-->
    <update id="updateByArticleVO">
        UPDATE t_article SET article_type_id =
                                 (SELECT article_type_id FROM t_article_type WHERE article_type_name = #{articleTypeName})
        WHERE t_article.article_id = #{articleId}

    </update>




    <!--
        ArticleVO getArticleVO(Integer articleId);
-->
    <select id="getArticleVO" resultMap="BaseArticleVO">

       <!-- SELECT a.article_id, a.user_id, a.article_title,
               a.article_add_time, a.article_centext, a.article_type_id, aty.article_type_name, alist.article_tag_id
        FROM
            t_article a LEFT JOIN `t_article_type` aty ON a.article_type_id = aty.article_type_id
                        LEFT JOIN t_article_tag_list alist ON a.article_id = alist.article_id
        WHERE a.article_id = #{articleId}   -->



        SELECT art.article_id, art.user_id, art.article_title, art.article_add_time,
        art.article_centext, art.article_good_number, art.article_look_number,
        art.article_collection_number, art.article_type_id, u.user_name, arttype.article_type_name

        FROM t_article AS art
        LEFT JOIN `t_article_type` AS arttype ON art.article_type_id = arttype.article_type_id
        LEFT JOIN `t_user` u ON u.user_id = art.user_id
        WHERE art.article_id = #{articleId}


    </select>





<!--
    IPage<TArticle> articleList(@Param("articlePage") IPage<TArticle> articlePage, @Param("articleTitle") String articleTitle);
-->

    <select id="articleList" resultMap="BaseArticleVO">
        SELECT art.article_id, art.user_id, art.article_title, art.article_add_time,
               art.article_centext, art.article_good_number, art.article_look_number,
               art.article_collection_number, art.article_type_id, u.user_name, arttype.article_type_name

        FROM t_article AS art
                 LEFT JOIN `t_article_type` AS arttype ON art.article_type_id = arttype.article_type_id
                 LEFT JOIN `t_user` u ON u.user_id = art.user_id

        <where>
            <if test="articleTitle != null and articleTitle != '' ">
                and art.article_title like concat('%', #{articleTitle}, '%')
            </if>
        </where>

        ORDER BY art.article_add_time DESC
    </select>




<!--
        boolean saveArticle(ArticleVO article);
-->
    <insert id="saveArticle" useGeneratedKeys="true" keyProperty="articleId">
        INSERT INTO t_article (user_id, article_title, article_centext, article_type_id, article_add_time)
        VALUES (#{userId}, #{articleTitle}, #{articleCentext},
                (SELECT article_type_id FROM t_article_type WHERE article_type_name = #{articleTypeName}),
                #{articleAddTime});
    </insert>




</mapper>
